/* 任務列表 */
.tasks {
    max-height: 300px; /* 保持固定高度以觸發滾動條 */
    list-style: none;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 10px; /* 增加內容的內邊距，與滾動條保持距離 */
    margin: 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
    scrollbar-width: thin; /* 滾動條在 Firefox 中保持細窄 */
    scrollbar-color: #4c81af #ECEDFF; /* 滾動條顏色 */
  }
  
  .tasks::-webkit-scrollbar {
    width: 8px; /* 滾動條寬度 */
  }
  
  .tasks::-webkit-scrollbar-thumb {
    background: #7793DB; /* 滾動條顏色 */
    border-radius: 10px; /* 圓角 */
  }
  
  .tasks::-webkit-scrollbar-thumb:hover {
    background: #4c81af; /* 滾動條懸停顏色 */
  }
  
  .tasks::-webkit-scrollbar-track {
    background: #ECEDFF; /* 滾動條背景色 */
  }
  